*{
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;
}

body {
    display: block;
    position: relative;
    width: 1600px;
    height: 2500px;
    background: #FFFFFF;
}

div {
    display: block;
}
