*{
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 1600px;
    height: 5870px;
    background: #FFFFFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div {
    display: block;
}

header{
    position: relative;
    width: 1243.97px;
    height: 718px;
    left: 195.03px;
    top: 56px;
    background-color: yellow;
}

nav{
    display: flex;
    position: relative;
    width: 543.67px;
    height: 45.94px;
    left: 866.4px;
    top: 69.98px;
    justify-content: center;
    background-color: #FFFFFF;
}

nav img{
    position: absolute;
    width: 691.32px;
    height: 597.17px;
    left: 747.68px;
    top: 176.83px;
}

ul.top-nav {
    display: inline-block;
    list-style: none;
    position: absolute;
    height: 28px;
    left: 658px;
}

ul.top-nav li {
    display: inline-block;
}

.upper {
    position: absolute;
    width: 443.92px;
    height: 337.53px;
    left: 195.03px;
    top: 282.68px;
}

.main-img{
    position: relative;
    width: 691.32px;
    height: 597.17px;
    left: 747.68px;
    top: 176.83px;
}

.logo{
    position: absolute;
    width: 159.61px;
    height: 40.94px;
    left: 196.03px;
    top: 56px;
}

.services{
    position: absolute;
    width: 1182.73px;
    height: 1131px;
    left: 230px;
    top: 995px;
    background-color: green;
}

.services-text{
    position: absolute;
    width: 962.7px;
    height: 177px;
    left: 313.93px;
    top: 995px;
}

.grid{
    position: absolute;
    width: 1132.59px;
    height: 745px;
    left: 230px;
    top: 1252px;
    display: flex;
}

footer{
    position: absolute;
    width: 1638px;
    height: 523px;
    left: -19px;
    top: 2795px;
    background-color: blue;
}
