*{
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;
}

body{
    background-color: #E5E5E5;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 543.67px;
    height: 45.94px;
    left: 866.4px;
    top: 69.98px;
}

nav ul{
    text-align: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
}

.logo{
    Width: 159.35px;
    Height: 41px;
    Top: 56px;
    Left: 196.03px;
}