<<<<<<< HEAD
/* If you're seeing this Johan, ty for the idea about highlighting the sections in different background colors */

*{
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;
}

body {
    display: block;
    position: relative;
    width: 1600px;
    height: 2500px;
    background: #FFFFFF;
}

div {
    display: block;
}

=======
/* If you're seeing this Johan, ty for the idea about highlighting the sections in different background colors */

*{
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 1600px;
    height: 3000px;
    background: #FFFFFF;
}

div {
    display: block;
}

nav {
    display: flex;
    position: absolute;
    width: 1400px;
    height: 78px;
    background: #fff;
    top: 20px;
    left: 0px;
    justify-content: center;
}

nav img {
    position: absolute;
    width: 691.32px;
    height: 597.17px;
    left: 747.68px;
    top: 176.83px;
}

header {
    position: absolute;
    width: 1415px;
    height: 786px;
    background-color: blue;
    margin-top: 35px;
    margin-left: 80px;
}

section {
    position: relative;
    width: 1182.73px;
    height: 1131px;
    left: 230px;
    top: 995px;
    background-color: green;
}

footer {
    position: absolute;
    width: 1640px;
    height: 482px;
    left: 6px;
    top: 2553px;
    background-color: yellow;
}

img.footer {
    position: absolute;
    width: 184.35px;
    height: 31.97px;
    right: 927px;
    top: 90px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
}
>>>>>>> bf93e2d1556a640e2e4d092c79c08b8f31435c30
